/* -----------------------------------------------------------------------------
* Global
* ...
----------------------------------------------------------------------------- */


/* Global
----------------------------------------------------------------------------- */

body {
    background: #f7f7f7;
    /* color: #1a1a1a; */
}

.pro,
.perso,
.intro {
    height: 100vh;
}

.intro__nav {
    position: fixed;
    bottom: 0;
    right: 0;
}