/* -----------------------------------------------------------------------------
* Global
* ...
----------------------------------------------------------------------------- */


/* Global
----------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: #f7f7f7;
    color: #1f1f1f;
    font-family: 'Lato', sans-serif;
}

.pro,
.perso,
.intro {
    height: 100vh;
}

.pro,
.perso {
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pro {
    background: -moz-linear-gradient(-45deg, #e2ab77 0%, #ddbfa4 100%);
    background: -webkit-linear-gradient(-45deg, #e2ab77 0%, #ddbfa4 100%);
    background: linear-gradient(-45deg, #e2ab77 0%, #ddbfa4 100%);
}

.perso {
    background: -moz-linear-gradient(-45deg, #7dace0 0%, #a4c0dd 100%);
    background: -webkit-linear-gradient(-45deg, #7dace0 0%, #a4c0dd 100%);
    background: linear-gradient(135deg, #7dace0 0%, #a4c0dd 100%);
}

.intro__headlines {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__title {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    text-align: center;
    font-weight: 700;
    z-index: 1;
}

.intro__description {
    font-size: 1rem;
    margin: 2rem 6rem;
    text-align: center;
    z-index: 1;
}

.intro__description::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #1f1f1f;
}

.intro__nav {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px;
    background-color: rgba(252, 252, 252, 0.5);
}

.intro__btn {
    margin: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: #1f1f1f;
}

.intro__btn:visited {
    color: #1f1f1f;
}

.intro__btn:hover {
    color: #3d3d3d;
}

.pro__title,
.perso__title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

@media screen and (min-width: 580px) {
    .intro__btn {
        font-size: 1.5rem;
    }
    .intro__title {
        font-size: 8rem;
    }
    .intro__description {
        font-size: 1.5rem;
    }
}